{% extends "base.html" %}

{% load static %}

{% block title %}Driver List{% endblock %}

{% block content %}
<h1>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    Driver List
    <a href="{% url "taxi:driver-create" %}" class="btn btn-primary link-to-page">
        Create
    </a>
</h1>

{% include "includes/search_form.html" with search_placeholder="username" %}

{% include "includes/table_list.html" with headers=["ID", "Username", "First name", "Last name", "License number"]
                                           items=driver_list %}
{% endblock %}
