{% extends "base.html" %}
{% load static %}

{% block title %}Manufacturer List{% endblock %}

{% block content %}
<h1>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    Manufacturer List
    <a href="{% url "taxi:manufacturer-create" %}" class="btn btn-primary link-to-page">
        Create
    </a>
</h1>

{% include "includes/search_form.html" with search_placeholder="manufacturer name" %}

{% if manufacturer_list %}
    <ul>
        {% for manufacturer in manufacturer_list %}
            <li>{{ manufacturer.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No manufacturers found.</p>
{% endif %}

{% include "includes/table_list.html" with headers=["ID", "Name", "Country", "Update", "Delete"]
                                           items=manufacturer_list %}
{% endblock %}
