{% load static %}<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Taxi Service{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <header>
        <h1>Taxi Service</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                    {% include "includes/sidebar.html" %}
                {% endblock %}
            </div>
            <div class="col-sm-10">
                {% block content %}{% endblock %}
                {% block pagination %}
                    {% include "includes/pagination.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Taxi Service</p>
    </footer>
</body>
</html>
